<html>
  <head>
    <title>Field Notes interactive logo</title>
    <meta charset="utf-8" />
    <style>
      #logo {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
    </style>
  </head>

  <body>
    <div id="logo"></div>
    <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
    <script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
    <% } %>
    <script>
      const search = location.search.substring(1)

      const params = search.split('&').filter(v => v).reduce((result, segment, i, arr) => {
        const [key, value] = segment.split('=')
        result[decodeURIComponent(key)] = decodeURIComponent(value)
        return result
      }, {})

      fieldNotesLogo({
        container: document.getElementById('logo'),
        hues: params.hues ? params.hues.split(',') : [235]
      })
    </script>
  </body>
</html>
